html {
  background-color: black;
  color: black;
}
a {
  color: black;
  text-decoration: none;
}
section {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -119px;
  margin-left: -301px;
  background-image: url('../img/background.png');
  width: 293px;
  padding-left: 310px;
  padding-top: 10px;
  height: 198px;
}
h1 {
  margin-bottom: 0;
  font-size: 1.5em;
  font-family: 'Rock Salt', cursive;
}
h1 a:hover:after {
  color: grey;
  opacity: 0.5;
  content: ' @';
} 
h2 {
  margin-top: 0;
  font-size: 14px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: green;
  font-weight: bold;
}
p {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 18px;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.amp {
  font-weight: 300;
}
.teaser {
  font-weight: 400;
}
.find-me {
  margin-top: 11px;
  color: grey;
}
.find-me img {
  opacity: 0.4;
}
img {
  margin: 0 2px;
  vertical-align: middle;
  height: 19px;
  color: grey;
}
img:hover {
  opacity: 1;
  transition: 0.3s;
}
